* {
  margin: 0;
  padding: 0;
}
:root {
  /* CORES */
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;
  /* PRINCIPAL */
  --gray-100: #0d0e11;
  --gray-200: #16181d;
  --gray-300: #292c34;
  --gray-400: #878ea1;
  --gray-500: #c0c4ce;
  --gray-600: #e2e4e9;
  /* FONTES */
  --font-asap: "Asap", sans-serif;
  --title-lg: 700 56px/120% var(--font-asap);
  --title-md: 700 24px/120% var(--font-asap);
  --title-sm: 700 16px/120% var(--font-asap);

  --font-incon: "Inconsolata", monospace;
  --sub: 400 20px/120% var(--font-incon);

  --font-maven: "Maven Pro", sans-serif;
  --text-md: 400 16px/140% var(--font-maven);
  --text-sm: 400 14px/140% var(--font-maven);
}

body {
  background-color: var(--gray-100);
}

/* TIPOGRAFIA */
h1 {
  font: var(--title-lg);
  color: var(--gray-600);
}
h2 {
  font: var(--title-md);
  color: var(--gray-600);
}
h3 {
  font: var(--title-sm);
  color: var(--gray-600);
}
h4 {
  span {
    color: var(--red);
  }
  font: var(--sub);
  color: var(--gray-500);
}
span{
  font: var(--text-md);
  color: var(--gray-500);
}

p {
  font: var(--text-sm);
  color: var(--gray-400);
}

header {
  max-width: 100%;
  height: 750px;
  background-image: url(../assets/Background_Intro.png);
  background-size: cover;
}
.icone-1{
  filter: brightness(0) saturate(100%) invert(92%) sepia(7%) saturate(274%) hue-rotate(185deg) brightness(84%) contrast(95%);
}
.icone-2{
  filter: brightness(0) saturate(100%) invert(50%) sepia(42%) saturate(1564%) hue-rotate(316deg) brightness(93%) contrast(90%);
}
.icone-3{
  filter: brightness(0) saturate(100%) invert(58%) sepia(32%) saturate(3531%) hue-rotate(180deg) brightness(92%) contrast(86%);
}
.icone-4{
  filter: brightness(0) saturate(100%) invert(95%) sepia(13%) saturate(3550%) hue-rotate(317deg) brightness(109%) contrast(84%);
}
.icone-5{
  filter: brightness(0) saturate(100%) invert(50%) sepia(46%) saturate(686%) hue-rotate(163deg) brightness(96%) contrast(94%);
}
.icone-6{
  filter: brightness(0) saturate(100%) invert(69%) sepia(51%) saturate(443%) hue-rotate(49deg) brightness(89%) contrast(88%);
}
