.pad{
    padding-top:88px ;
}
.tam{
    width: 48px;
    height: 48px;
    margin:20px 212px 20px 20px;
}

.tam:nth-child(1){
    border:none;
}
.rosa{
  color:var(--purple);
}
.pad-128{
    padding-top: 128px;
}
.pad-8{
    padding-top: 8px;
}